<section class="album bg-white shadow-sm my-3 px-4 pt-4 pb-0" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem">
  <div class="container">
    <div class="row">
      <div class="blog-post col-md-12">
        <h1 class="blog-post-title h3 font-weight-bold">Post</h1>
        <p class="blog-post-meta"></p>
        <%= form_with(model: article, local: true) do |form| %>
          <% if article.errors.any? %>
            <div id="error_explanation">
              <div class="fixed-top alert alert-danger alert-dismissible fade show " role="alert" id="notice">
                <h2>Terjadi <%= pluralize(article.errors.count, "kesalahan")  %> saat menyimpan :</h2>

                <ul>
                  <% article.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          <% end %>


          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :content %>
            <%= form.text_area :content, class: 'form-control', rows:20 %>
          </div>

          <div class="form-group">
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                <%= form.select("category_id", Category.all.collect {|c| [ c.name, c.id ] }, { include_blank: '- Pilih kategori -' }, class: 'custom-select mr-sm-2', id: 'inlineFormCustomSelect') %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= form.label :image_feature %>
            <%= form.file_field :image_feature, class: 'form-control-file' %>
          </div>

          <div class="form-group">
            <%= form.label :publish, 'Publish tulisan?' %>

            <% if controller.action_name == 'edit' %>

              <div class="form-check">
                <% if @article.publish == 'y' %>

                  <%= form.radio_button :publish, 'y', class: 'form-check-input', checked: true, onClick: "sentToSubscribers()"  %>

                <% else %>

                  <%= form.radio_button :publish, 'y', class: 'form-check-input', onClick: "sentToSubscribers()" %>

                <% end %>

                <%= form.label :publish, 'Ya', class: 'form-check-label' %>
              </div>

              <div class="form-check">
                <% if @article.publish == 'n' %>

                  <%= form.radio_button :publish, 'n', class: 'form-check-input', checked: true %>

                <% else %>

                  <%= form.radio_button :publish, 'n', class: 'form-check-input' %>

                <% end %>

                <%= form.label :publish, 'Tidak', class: 'form-check-label' %>
              </div>

            <% else %>
              <div class="form-check">
                  <%= form.radio_button :publish, 'y', class: 'form-check-input', onClick: "sentToSubscribers()" %>
                  <%= form.label :publish, 'Ya', class: 'form-check-label' %>
              </div>

              <div class="form-check">
                  <%= form.radio_button :publish, 'n', class: 'form-check-input', checked: true, onClick: "sentToSubscribers()" %>
                  <%= form.label :publish, 'Tidak', class: 'form-check-label' %>
              </div>
            <% end %>
          </div>

					<div class="form-group form-check">
						<%= form.check_box("send_to_subscribers", { class: 'form-check-input', id: 'send_to_subscribers', onClick: "sentToSubscribers()" }, "y", "n")%>
            <%= form.label :send_to_subscribers, class: 'form-check-label', id: 'send_to_subscribers' %>
          </div>

          <%= form.hidden_field(:sent_to_subscribers, id: 'sent_to_subscribers') %>

          <div class="form-group">
            <%= form.submit 'Save', class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Kembali', articles_path, class: 'btn btn-danger btn-sm' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
