<section class="my-5">
  <div class="container">
    <% if user_signed_in? %>
      <%= link_to 'New Article', new_admin_article_path, class: 'btn btn-primary btn-sm' %>
    <% end %>
    <div class="row">
      <% if @articles.count > 0 %>
        <% @articles.each do |a| %>
          <div class="col-md-3 mt-3">
            <%= link_to article_path(a), class: 'text-decoration-none text-secondary' do %>
              <div class="card h-100 shadow-sm">
                <%= image_tag("#{a.image_feature}", class: 'card-img-top') %>
                <div class="card-body">
                  <small class="text-muted my-5"><%= time_ago_in_words(a.created_at).capitalize %></small>
                  <h5 class="card-title"><%= a.title %></h5>
                </div>
                <div class="card-footer">
                  <small>
                    <i class="fas fa-folder-open"></i> <%= a.category.name %><br>
                    <i class="fas fa-tags"></i> <%= a.all_tags %>
                  </small>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="col-md-12">
          <h3 class="text-danger text-center">Pencarian tidak ditemukan</h3>
        </div>
      <% end %>
    </div>
    <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</section>
