<section class="my-3">
  <div class="container">
    <div class="row">
      <% @articles.each do |a| %>
        <%= link_to article_path(a), class: 'text-decoration-none text-dark' do %>
          <div class="card mb-3 p-2" style="max-width: 800px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <%= image_tag(a.image, class: 'card-img') %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= a.title.titleize %></h5>
                  <p class="card-text"><small class="text-muted"><%= time_ago_in_words(a.created_at).capitalize %></small></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</section>
