<section class="category py-3" id="category">
  <div class="container">
    <h1 class="h3 my-5 font-weight-bold"><strong>Belajar apa saja?</strong></h1>
    <div class="row">
      <% @categories.each do |c| %>
        <%= link_to category_path(c) do %>
          <div class="card text-dark m-3 p-3">
            <%= image_tag(c.image, class: 'card-img', style: 'width: 100px; margin-left: 100px') %>
            <div class="card-img-overlay">
              <h5 class="card-title font-weight-bold"><%= c.name %></h5>
              <p class="card-text"><%= c.articles.count %> Tulisan</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to 'Selengkapnya...', categories_path, class: 'btn text-white font-weight-bold mt-3', style: 'background: linear-gradient(90deg,#5800e7,#e90000)' %>
  </div>
</section>
