<section class="jumbotron jumbotron-fluid news-letter mb-0">
  <div class="container">    
    <div class="row">
      <div class="col-md-12 text-light" style="z-index: 120000">
        <h1 class="h2 font-weight-bold"><strong>Surat kabar</strong></h1>
        <p class="mt-4">
          Subscribe agar mendapatkan berita terbaru dari kami.
        </p>
        <%= form_for newsletter do |form| %>
          <div class="form-inline">
            <div class="input-group mb-2 mr-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
              </div>
              <%= form.text_field :name, class: 'form-control', placeholder: 'Nama' %>
            </div><div class="input-group mb-2 mr-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
              </div>
              <%= form.email_field :email, class: 'form-control', placeholder: 'Email' %>
            </div>
            <%= form.submit 'Subscribe', class: 'btn btn-danger mb-2', :onclick=>"if(!confirm('Apakah anda yakin akan mendaftarkan email ini sebagai subscriber?')){return false;}" %>
          </div>
        <% end %>
        <p class="mt-4">
          Atau follow kami melalui:
        </p>
        <form class="form-inline">
          <!-- <a class="text&#45;danger h2" href=""><i class="fab fa&#45;youtube"></i></a> -->
          <%= link_to 'https://github.com/bukanprogrammer', class: 'text-dark h2 ml-2', target: :_blank do %>
            <i class="fab fa-github"></i>
          <% end %>
        </form>
      </div>
    </div>
  </div>
  <div class="pb-5">
    <div class="cloud-img"></div>
  </div>
</section>
