<main class="shadow-sm">
  <%= render 'jumbotron_section' %>
  <%= render 'category_section' %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <%= render 'article_section' %>
      </div>
      <div class="col-md-3">
        <%= render 'layouts/global_sidebar' %>
      </div>
    </div>
  </div>
  <%= render 'newsletter_section' %>
</main>
