<main class="shadow-sm">
  <%= render '../views/pages/home/jumbotron_section' %>
  <%= render 'layouts/adsense_horizontal' %>
  <%= render '../views/pages/home/category_section' %>
  <div class="container">
    <h1 class="h2 mt-3 font-weight-bold"><strong>Artikel</strong></h1>
    <div class="row">
      <div class="col-md-9">
        <%= render '../views/pages/home/article_section' %>
      </div>
      <div class="col-md-3">
        <%= render 'layouts/adsense_vertical' %>
        <%= render 'layouts/global_sidebar' %>
      </div>
    </div>
  </div>
  <%= render '../views/pages/home/newsletter_section' %>
</main>
