<section class="album bg-white shadow-sm my-5 px-4 py-4">
  <div class="container">
    <div class="row">
      <div class="blog-post">
        <h1 class="blog-post-title h3 font-weight-bold"><%= @category.name %></h1>
        <p class="blog-post-meta"><%= I18n.l(@category.created_at.to_date) %> Oleh Dede Irwanto</p>
        <%= image_tag("#{@category.image_feature}", class: 'mb-4 img-thumbnail') %>
      </div>
    </div>
  </div>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</section>


