<section class="album bg-white shadow-sm my-3 pt-4 pb-5" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem">
  <div class="container">
    <div class="row">
      <% @articles.each do |a| %>
        <%= link_to article_path(a), class: 'text-decoration-none text-secondary' do %>
          <div class="col-md-4">
            <%= link_to article_path(a), class: 'text-decoration-none text-secondary' do %>
              <div class="card h-100 my-3 shadow-sm">
                <%= image_tag("#{a.image_feature}", class: 'card-img-top') %>
                <div class="card-body">
                  <small class="text-muted my-5"><%= time_ago_in_words(a.created_at).capitalize %></small>
                  <h5 class="card-title"><%= a.title %></h5>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</section>


