<footer class="bg-white">
  <div class="container pt-5 pb-3">
    <div class="row">
      <div class="col-md-6 mb-3">
        <h4 class="text-dark">Tentang kami</h4>
        <p class="text-secondary text-justify"><b>Bukan Programmer</b> merupakan media pembelajaran berbasis web yang membahas topik - topik menarik seputar dunia IT. <%= link_to '[Selengkapnya...]', about_path, class: 'text-secondary' %></p>
      </div>
      <div class="col-md-2 mb-3">
        <h4 class="text-dark">Navigasi</h4>
        <%= link_to 'Artikel', articles_path, class: 'text-secondary' %><br>
        <%= link_to 'Kategori', categories_path, class: 'text-secondary' %><br>

        <%= link_to 'Tentang Kami', about_path, class: 'text-secondary' %><br>

        <%= link_to 'Ketentuan', terms_path, class: 'text-secondary' %><br>

        <%= link_to 'Kebijakan', privacy_policy_path, class: 'text-secondary' %>
      </div>
      <div class="col-md-4 mb-3">
        <h4 class="text-dark">Kontak</h4>
        <%= link_to 'id.bukanprogrammer@gmail.com', 'mailto:id.bukanprogrammer@gmail.com', class: 'text-secondary' %>
      </div>
      <div class="col-sm-12 text-center">
        <hr class="my-4">
        <span class="text-secondary"><i class="far fa-copyright"></i> <%= Time.zone.now.year %></span> <a href="https://www.bukanprogrammer.com">Bukan Programmer</a><span class="text-secondary"> | Powered by: </span><a href="https://www.getbootstrap.com">Bootstrap</a>
      </div>
    </div>
  </div>
</footer>

