<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <%= image_tag("bp-logo-white", height: 40) %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white m-1"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto px-3">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Artikel', articles_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Kategori', categories_path, class: 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Informasi
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Tentang Kami', about_path, class: 'dropdown-item' %>
            <%= link_to 'Ketentuan', terms_path, class: 'dropdown-item' %>
            <%= link_to 'Kebijakan', privacy_policy_path, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
      <form class="form-inline ">
        <% if user_signed_in? %>
          <ul class="navbar-nav mr-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-cog"></i> Admin Page
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'Artikel', admin_articles_path, class: 'dropdown-item' %>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav mr-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> <%= current_user.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
          </ul>
        <% end %>

        <%= link_to "https://github.com/bukanprogrammer", class: 'mx-3', target: :_blank do %>
          <i class="fab fa-github h4"><span class="h5"> Github</span></i>
        <% end %>

        <%= link_to "https://www.youtube.com/channel/UCC1_MFfUcsixD9CaXZ-B1jw", class: 'mx-3', target: :_blank do %>
          <i class="fab fa-youtube h4"><span class="h5"> Youtube</span></i>
        <% end %>

      </form>
    </div>
  </nav>
</header>
