<header class="fixed-top shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light bg-white px-5">
    <a class="navbar-brand" href="#">
      <%= image_tag('bp-logo-color.png', height: 40) %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to root_path, class: 'nav-link' do %>
            <i class="fas fa-home"></i> Home
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to articles_path, class: 'nav-link' do %>
            <i class="fas fa-newspaper"></i> Artikel
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to categories_path, class: 'nav-link' do %>
            <i class="fas fa-folder"></i> Kategori
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-info-circle"></i> Informasi
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Tentang Kami', about_path, class: 'dropdown-item' %>
            <%= link_to 'Ketentuan', terms_path, class: 'dropdown-item' %>
            <%= link_to 'Kebijakan', privacy_policy_path, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <% if user_signed_in? %>
          <ul class="navbar-nav mr-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-cog"></i> Admin Page
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'Artikel', admin_articles_path, class: 'dropdown-item' %>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav mr-3">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> <%= current_user.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
          </ul>
        <% end %>

        <%= link_to "https://github.com/bukanprogrammer", class: 'text-dark h2 mr-3', target: :_blank do %>
          <i class="fab fa-github"></i>
        <% end %>
      </form>
    </div>
  </nav>
</header>
